<div class="content-layout " cdkScrollable>

    <mat-drawer-container>

        <!-- Drawer -->
        <!-- <mat-drawer [autoFocus]="false" [mode]="drawerMode" [opened]="drawerOpened" #drawer>

            <calendar-sidebar (calendarUpdated)="onCalendarUpdated($event)"></calendar-sidebar>

        </mat-drawer> -->

        <mat-drawer-content>

            <!-- Main -->
            <div class="main">

                <div class="header">

                    <button class="mr10" class="previous" mat-icon-button (click)="previous()">
                        <mat-icon [svgIcon]="'chevron_left'"></mat-icon>
                    </button>

                    <h4 class="title">
                        {{viewTitle}}
                    </h4>

                    <button class="previous" mat-icon-button (click)="previous()">
                        <mat-icon [svgIcon]="'chevron_left'"></mat-icon>
                    </button>

                    <button class="next" mat-icon-button (click)="next()">
                        <mat-icon [svgIcon]="'chevron_right'"></mat-icon>
                    </button>

                    <button class="today lt-md:hidden" mat-icon-button (click)="today()">
                        <mat-icon [svgIcon]="'today'"></mat-icon>
                    </button>

                    <mat-form-field class="lt-md:hidden treo-mat-dense treo-mat-no-subscript view-changer">
                        <mat-select (selectionChange)="changeView(viewChanger.value)" [value]="view"
                            #viewChanger="matSelect">
                            <mat-option [value]="'dayGridMonth'">Mes</mat-option>
                            <mat-option [value]="'timeGridWeek'">Semana </mat-option>
                            <mat-option [value]="'timeGridDay'">Dia</mat-option>
                            <mat-option [value]="'listYear'">General</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button class="actions-menu hidden lt-md:inline-flex" [matMenuTriggerFor]="actionsMenu"
                        mat-icon-button>
                        <mat-icon [svgIcon]="'more_vert'"></mat-icon>

                        <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item (click)="today()">
                                <mat-icon [svgIcon]="'today'"></mat-icon>
                                <span>Go to today</span>
                            </button>
                            <button [matMenuTriggerFor]="actionsViewsMenu" mat-menu-item>
                                <mat-icon [svgIcon]="'tune'"></mat-icon>
                                <span>View</span>
                            </button>
                        </mat-menu>

                        <mat-menu #actionsViewsMenu="matMenu">
                            <button mat-menu-item [disabled]="view === 'dayGridMonth'"
                                (click)="changeView('dayGridMonth')">
                                <mat-icon [svgIcon]="'view_comfy'"></mat-icon>
                                <span>Month</span>
                            </button>
                            <button mat-menu-item [disabled]="view === 'timeGridWeek'"
                                (click)="changeView('timeGridWeek')">
                                <mat-icon [svgIcon]="'view_week'"></mat-icon>
                                <span>Week</span>
                            </button>
                            <button mat-menu-item [disabled]="view === 'timeGridDay'"
                                (click)="changeView('timeGridDay')">
                                <mat-icon [svgIcon]="'view_day'"></mat-icon>
                                <span>Day</span>
                            </button>
                            <button mat-menu-item [disabled]="view === 'listYear'" (click)="changeView('listYear')">
                                <mat-icon [svgIcon]="'view_agenda'"></mat-icon>
                                <span>Schedule</span>
                            </button>
                        </mat-menu>
                    </button>

                </div>

                <div class="calendar">

                    <!-- FullCalendar -->
                    <full-calendar [locale]="spanishLocale" [defaultView]="view" [events]="events"
                        [firstDay]="settings.startWeekOn" [handleWindowResize]="false" [header]="false"
                        [height]="'parent'" [plugins]="calendarPlugins" [views]="views"
                        (eventClick)="onEventClick($event)" (eventRender)="onEventRender($event)" #fullCalendar>
                    </full-calendar>

                </div>

                <!-- Event panel -->
                <ng-template #eventPanel>

                    <!-- Preview mode -->
                    <ng-container *ngIf="panelMode === 'view'">

                        <div class="row header">

                            <mat-icon [svgIcon]="'info'"></mat-icon>

                            <div class="row-content">

                                <div class="info">
                                    <h3 class="title">{{event.title || '(No title)'}}</h3>
                                    <div class="date">{{event.start | date:'EEEE, MMMM d'}}</div>
                                    <div class="recurrence">{{recurrenceStatus}}</div>
                                </div>

                                <div class="actions">
                                    <!-- Non-recurring event -->
                                    <ng-container *ngIf="!event.recurrence">
                                        <button title="Detalle" mat-icon-button [routerLink]="['../detalle', event.id]">
                                            <mat-icon>playlist_play</mat-icon>
                                        </button>
                                    </ng-container>
                                </div>

                            </div>

                        </div>

                        <div class="row description" *ngIf="event.description">
                            <mat-icon [svgIcon]="'notes'"></mat-icon>
                            <div class="row-content">{{event.description}}</div>
                        </div>

                        <div class="row calendar">
                            <mat-icon [svgIcon]="'today'"></mat-icon>
                            <div class="row-content">
                                <div class="color" [ngClass]="getCalendar(event.calendarId).color"></div>
                                <div class="title">{{getCalendar(event.calendarId).title}}</div>
                            </div>
                        </div>

                    </ng-container>



                </ng-template>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>