<div class="flex flex-col flex-auto p-6 pb-4 bg-card bg-dark shadow rounded  overflow-hidden">
    <div class="flex items-start justify-between">
        <div class="flex flex-col">
            <div class="font-bold text-md text-secondary uppercase tracking-wider">
                {{ title ?? 'title'}}
            </div>

        </div>

    </div>
    <div class="flex items-center h-20 mt-auto">
        <div class="flex flex-col">
            <div class="font-semibold text-5xl tracking-tighter leading-tight text-{{color ?? ''}}">
                {{ value ?? 0 }}
            </div>
        </div>
    </div>
</div>