<div class="w-full">

    <h2 *ngIf="data?.title"> {{ data.title }}</h2>
    <h6 *ngIf="data?.subtitle"> {{ data.subtitle }}</h6>
    <h5> Ingresa un comentario, razón por la cual haces la actualización. </h5>
    
    <mat-form-field class="w-full">
        <textarea [(ngModel)]="comments" matInput
            placeholder="Por ejemplo: se cancela por incumplimiento de proveedor.">
        </textarea>
    </mat-form-field>

    <div class="w-full flex flex-row justify-end">
        <button (click)="onClose('cancel')" mat-stroked-button color="primary" class="mr-2">
            <mat-icon>close</mat-icon>
            Cancelar actualización
        </button>

        <button (click)="onClose('Sin comentarios')" mat-stroked-button color="primary" class="mr-2">
            <mat-icon>list</mat-icon>
            Sin comentarios
        </button>

        <button [disabled]="!comments" (click)="onClose()" mat-flat-button color="primary">
            <mat-icon>save</mat-icon>
            Aceptar
        </button>
    </div>
</div>