<div class="grid grid-cols-10 gap-4 w-full">
  <div class="col-span-3">
    <img
      [src]="product.urlImage | getDocuments: 'product'"
      alt="IMAGEN DE PRODUCTO"
    />
  </div>

  <div class="col-span-7">
    <div class="grid grid-cols-10 w-full">
      <div class="col-span-3 w-full">
        <div
          class="
            flex flex-col
            p-4
            min-h-10
            max-h-20
            rounded
            border-2
            light:bg-card
          "
        >
          <div class="flex flex-row">
            <mat-icon class="mr-5"> sticky_note_2 </mat-icon>
            <span> {{ product.code }} </span>
          </div>
        </div>
      </div>

      <div class="col-span-7 w-full">
        <div
          class="
            flex flex-col
            p-4
            min-h-10
            max-h-20
            rounded
            border-2
            light:bg-card
          "
        >
          <div class="flex flex-row">
            <mat-icon class="mr-5"> calendar_today </mat-icon>
            <span> {{ product.name }} </span>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-10 w-full">
      <div class="col-span-10 w-full">
        <div
          class="
            flex flex-col
            p-4
            min-h-10
            max-h-20
            rounded
            border-2
            light:bg-card
          "
        >
          <div class="flex flex-row">
            <mat-icon class="mr-5"> sticky_note_2 </mat-icon>
            <span> {{ product.description }} </span>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-12 w-full">
      <div class="col-span-4 w-full">
        <div
          class="
            flex flex-col
            p-4
            min-h-10
            max-h-20
            rounded
            border-2
            light:bg-card
          "
        >
          <div class="flex flex-row">
            <mat-icon class="mr-5"> sticky_note_2 </mat-icon>
            <span> {{ product.category.name }} </span>
          </div>
        </div>
      </div>

      <div class="col-span-4 w-full">
        <div
          class="
            flex flex-col
            p-4
            min-h-10
            max-h-20
            rounded
            border-2
            light:bg-card
          "
        >
          <div class="flex flex-row">
            <mat-icon class="mr-5"> calendar_today </mat-icon>
            <span> {{ product.measureUnit.name }} </span>
          </div>
        </div>
      </div>

      <div class="col-span-4 w-full">
        <div
          class="
            flex flex-col
            p-4
            min-h-10
            max-h-20
            rounded
            border-2
            light:bg-card
          "
        >
          <div class="flex flex-row">
            <mat-icon class="mr-5"> calendar_today </mat-icon>
            <span> Peso: {{ product.weight }} </span>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-12 w-full">
      <div class="col-span-3 w-full">
        <div
          class="
            flex flex-col
            p-4
            min-h-10
            max-h-20
            rounded
            border-2
            light:bg-card
          "
        >
          <div class="flex flex-row">
            <mat-icon class="mr-5"> calendar_today </mat-icon>
            <span>
              P lista: S/. {{ product.priceList | currency: "display":"" }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-span-3 w-full">
        <div
          class="
            flex flex-col
            p-4
            min-h-10
            max-h-20
            rounded
            border-2
            light:bg-card
          "
        >
          <div class="flex flex-row">
            <mat-icon class="mr-5"> sticky_note_2 </mat-icon>
            <span> IGV: S/. {{ product.igv | currency: "display":"" }} </span>
          </div>
        </div>
      </div>
      <div class="col-span-3 w-full">
        <div
          class="
            flex flex-col
            p-4
            min-h-10
            max-h-20
            rounded
            border-2
            light:bg-card
          "
        >
          <div class="flex flex-row">
            <mat-icon class="mr-5"> sticky_note_2 </mat-icon>
            <span>
              P de venta: S/. {{ product.salePrice | currency: "display":"" }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-span-3 w-full">
        <div
          class="
            flex flex-col
            p-4
            min-h-10
            max-h-20
            rounded
            border-2
            light:bg-card
          "
        >
          <div class="flex flex-row">
            <mat-icon class="mr-5"> sticky_note_2 </mat-icon>
            <span> Stock Minimo: {{ product.minimumStock }} </span>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-10 w-full">
      <div class="col-span-10 w-full">
        <div
          class="
            flex flex-col
            p-4
            min-h-10
            max-h-20
            rounded
            border-2
            light:bg-card
          "
        >
          <div class="flex flex-row">
            <mat-icon class="mr-5"> sticky_note_2 </mat-icon>
            <span *ngIf="product?.supplyId">
              Insumo: {{ product.supplyName }}
            </span>
            <span *ngIf="!product?.supplyId">
              No se le ha asignado insumo
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
