<h1>Editar <span class="text-primary"> insumo </span> en sistema</h1>

<form
  [formGroup]="editForm"
  (ngSubmit)="formValidation()"
  class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden"
>
  <div class="flex flex-col gt-xs:flex-row">
    <mat-form-field class="flex-auto gt-xs:pr-3">
      <input
        readonly
        formControlName="code"
        type="text"
        autocomplete="off"
        matInput
        required
        placeholder="Código"
      />
      <mat-icon matPrefix>integration_instructions</mat-icon>
    </mat-form-field>

    <mat-form-field class="flex-auto gt-xs:pr-3">
      <input
        formControlName="name"
        type="text"
        autocomplete="off"
        matInput
        required
        placeholder="Nombre"
      />
      <mat-icon matPrefix>sticky_note_2</mat-icon>
    </mat-form-field>
  </div>

  <div class="flex">
    <mat-form-field class="flex-auto gt-xs:pr-3">
      <mat-select
        placeholder="Seleccione una unidad de medída"
        formControlName="measured_unit_id"
        required
      >
        <mat-option
          *ngFor="let mu of measuddredUnitList | async"
          [value]="mu.id"
        >
          {{ mu.name }}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix svgIcon="clear_all"></mat-icon>
    </mat-form-field>
  </div>

  <div class="flex">
    <mat-form-field class="flex-auto gt-xs:pr-3">
      <mat-select
        placeholder="Seleccione una categoría"
        formControlName="category_id"
        required
      >
        <mat-option
          *ngFor="let pc of productCategoryList | async"
          [value]="pc.id"
        >
          {{ pc.name }}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix svgIcon="clear_all"></mat-icon>
    </mat-form-field>
  </div>

  <div class="flex">
    <mat-form-field class="flex-auto gt-xs:pr-3">
      <input
        formControlName="estimated_price"
        type="number"
        autocomplete="off"
        matInput
        placeholder="Precio estimado"
      />
      <mat-icon matPrefix>attach_money</mat-icon>
    </mat-form-field>
  </div>

  <div class="flex">
    <mat-form-field class="flex-auto gt-xs:pr-3">
      <input
        formControlName="loss_percentage"
        type="number"
        autocomplete="off"
        matInput
        placeholder="Porcentaje de merma"
      />
      <mat-icon matPrefix>assignment_returned</mat-icon>
    </mat-form-field>
  </div>

  <div
    class="
      flex
      items-center
      justify-end
      border-t
      -mx-8
      mt-8
      px-8
      py-5
      light:bg-cool-gray-50
      dark:bg-cool-gray-700
    "
  >
    <button
      type="button"
      (click)="onNoCreate()"
      color="primary"
      mat-stroked-button
    >
      <mat-icon>close</mat-icon>
      Cancelar
    </button>
    <button
      [disabled]="editForm.invalid"
      type="submit"
      class="px-6 ml-3"
      mat-flat-button
      [color]="'primary'"
    >
      <mat-icon class="mr-2">save</mat-icon>
      Actualizar
    </button>
  </div>
</form>
