<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0 md:p-8 ">
    <div class="flex w-full  sm:shadow-md rounded-lg overflow-hidden sm:bg-card ">

        <div class="w-full sm:w-auto py-8 px-4 sm:p-12 md:p-16 ">
            <div class="  justify-center w-full max-w-180 sm:w-80 mx-auto sm:mx-0 ">
                <div class="w-full flex flex-row justify-center ">
                    <img style="max-width: 200px;" src="assets/images/common/working-message.svg">
                </div>
                <div class="flex flex-row justify-center mt-8 text-4xl font-extrabold tracking-tight leading-tight ">
                    {{ title ?? '' }}
                </div>
                <div class=" flex flex-row justify-center">
                    {{ message ?? '' }}
                </div>
                <div *ngIf="showButton" class="flex flex-row mt-3 justify-center">
                    <button (click)="listenButtonClick()" mat-stroked-button color="primary">
                        {{ buttonText ?? 'Entiendo' }}
                        <mat-icon class="mr-2">{{ buttonIcon ?? 'thumb_up_alt' }}</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>