<div *ngIf="buttons.length && buttons.length > 0" [class]="'flex ' + (justify || 'justify-end')">

  <div *ngFor="let button of buttons" [ngSwitch]="button.type">

    <button type="button" *ngSwitchCase="'Stroked'" (click)="onClick.emit(button.action)"
      [ngClass]="{'ml-3': justify === 'justify-end', 'mr-3' : justify === 'justify-start'} " mat-stroked-button
      [color]="button.color ?? 'primary'">
      <mat-icon class="mr-2">{{button.icon}}</mat-icon>
      {{ button.label }}
    </button>

    <button type="button" *ngSwitchCase="'Flat'" (click)="onClick.emit(button.action)"
      [ngClass]="{'ml-3': justify === 'justify-end', 'mr-3' : justify === 'justify-start'} " mat-flat-button
      [color]="button.color ?? 'primary'">
      <mat-icon class="mr-2">{{button.icon}}</mat-icon>
      {{ button.label }}
    </button>

    <button type="button" *ngSwitchCase="'Default'" (click)="onClick.emit(button.action)"
      [ngClass]="{'ml-3': justify === 'justify-end', 'mr-3' : justify === 'justify-start'} " mat-button
      [color]="button.color ?? 'primary'">
      <mat-icon class="mr-2">{{button.icon}}</mat-icon>
      {{ button.label }}
    </button>

    <button type="button" *ngSwitchCase="'Icon'" (click)="onClick.emit(button.action)"
      [ngClass]="{'ml-3': justify === 'justify-end', 'mr-3' : justify === 'justify-start'} " mat-icon-button
      [color]="button.color ?? 'primary'">
      <mat-icon class="mr-2">{{button.icon}}</mat-icon>
      {{ button.label }}
    </button>

    <button type="button" *ngSwitchCase="'MiniFab'" (click)="onClick.emit(button.action)"
      [ngClass]="{'ml-3': justify === 'justify-end', 'mr-3' : justify === 'justify-start'} " mat-mini-fab
      [color]="button.color ?? 'primary'">
      <mat-icon class="mr-2">{{button.icon}}</mat-icon>
      {{ button.label }}
    </button>

    <button type="button" *ngSwitchCase="'Raised'" (click)="onClick.emit(button.action)"
      [ngClass]="{'ml-3': justify === 'justify-end', 'mr-3' : justify === 'justify-start'} " mat-raised-button
      [color]="button.color ?? 'primary'">
      <mat-icon class="mr-2">{{button.icon}}</mat-icon>
      {{ button.label }}
    </button>
  </div>

  <div>



  </div>