<div class="content-layout fullwidth-standard-normal-scroll">
  <app-header [module]="model.module" [title]="model.title"></app-header>

  <div class="main">
    <div class="content">
      <!-- (onClick)="register()" -->

      <div class="flex flex-row w-full justify-end mb-5 mt-0">
        <button (click)="register()" mat-stroked-button color="primary">
          <mat-icon>save</mat-icon>
          Registrar
        </button>
      </div>

      <app-list-table
        [model]="tableModel"
        [list]="courseList"
        (selectedToDelete)="validationToDeleteCourse($event)"
        (selectedToEdit)="editar($event)"
      >
      </app-list-table>
    </div>
  </div>
</div>
