<div class="grid grid-cols-10 gap-5">
    <div class="col-span-2">
        <inventory-kardex-values_item color="teal-800   " title="Stock" [value]="data.stock">
        </inventory-kardex-values_item>
    </div>

    <div class="col-span-2">
        <inventory-kardex-values_item color="teal-800   " title="Entradas" [value]="data.outputs">
        </inventory-kardex-values_item>
    </div>

    <div class="col-span-2">
        <inventory-kardex-values_item color="teal-800   " title="Salidas" [value]="data.loss">
        </inventory-kardex-values_item>
    </div>

    <div class="col-span-2">
        <inventory-kardex-values_item color="teal-800   " title="Traslados" [value]="data.transfer">
        </inventory-kardex-values_item>
    </div>

    <div class="col-span-2">
        <inventory-kardex-values_item color="teal-800   " title="Perdidas" [value]="data.loss">
        </inventory-kardex-values_item>
    </div>
</div>