<div class="content-layout fullwidth-standard-normal-scroll">

    <div class="main" >
        <div class="content">

            <h1>Editar <span class="text-primary"> Comentario</span> Orden de compra</h1>
<br>
            <form class="example-form">
                <div class="grid grid-cols-12 gap-4 w-full" style="margin-bottom: 2rem;">
                    <div class="col-span-12">
                        <textarea matInput   style="width: 100%;"> ADMINISTRADOR ha actualizado la orden de compra OC00003 al estado Aprobada con razon de: Sin comentarios  </textarea>
                      
                            
                    </div>
                  
                </div> 

             

              <!--  <div class="grid grid-cols-12 gap-4 w-full" style="margin-bottom: 2rem;">
                    <div class="col-span-4">
                        <mat-label>Subtotal</mat-label>
                        <input matInput placeholder="" value="S/. 30,00" disabled>
                    </div>
                    <div class="col-span-4">
                        <mat-label>Total</mat-label>
                        <input matInput placeholder="" value="S/. 40,00" disabled>
                    </div>
                    
                </div> -->


            </form>
            <br><br>
            
            <div
            class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 light:bg-cool-gray-50 dark:bg-cool-gray-700">
            <button type="button"  (click)="closeModal()"  color="primary" mat-stroked-button>
                <mat-icon>close</mat-icon>
                Cancelar
            </button>
            <button  type="submit" class="px-6 ml-3" mat-flat-button [color]="'primary'">
                <mat-icon class="mr-2">save</mat-icon>
                Actualizar
            </button>
           </div>
            </div>  
    </div>

</div>