<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="main">
        <div class="content">
            <app-title title="Formulario de registro para almacenes"
                subtitle="Rellena todos los campos para completar el registro (La sede es opcional)" backButton="true">
            </app-title>
            <app-warehouse-register-form *ngIf="warehouse; else loading " [warehouse]="warehouse">
            </app-warehouse-register-form>
        </div>

        <ng-template #loading>
            <app-loading-body></app-loading-body>
        </ng-template>
    </div>
</div>