<form [formGroup]="formGroup" class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden">

    <div class="grid grid-cols-10  w-full">
        <div class="col-span-3 mr-2">
            <app-select-image></app-select-image>
        </div>

        <div class="col-span-7 w-full">
            <div class="flex flex-col gt-xs:flex-row">
                <mat-form-field class="flex-auto">
                    <input formControlName="name" type="text" autocomplete="off" matInput required placeholder="Nombre">
                    <mat-icon matPrefix>sticky_note_2</mat-icon>
                </mat-form-field>
            </div>

            <div class="flex flex-col gt-xs:flex-row">
                <mat-form-field class="treo-mat-textarea flex-auto">
                    <textarea formControlName="description" autocomplete="off" matInput placeholder="Descripción"
                        required [rows]="2"></textarea>
                    <mat-icon matPrefix>notes</mat-icon>
                </mat-form-field>
            </div>

            <div class="grid grid-cols-8 gap-4 w-full">
                <div class="col-span-4">
                    <mat-form-field class="w-full">
                        <mat-select placeholder="Seleccione una unidad me medida" formControlName="measure_unit_id">
                            <mat-option *ngFor="let mu of measureUnitList " [value]="mu.id">
                                {{mu.name}}
                            </mat-option>
                        </mat-select>
                        <mat-icon matPrefix svgIcon="clear_all"></mat-icon>
                    </mat-form-field>
                </div>

                <div class="col-span-4">
                    <mat-form-field class="w-full">
                        <mat-select placeholder="Seleccione una categoria de producto" formControlName="category_id">
                            <mat-option *ngFor="let pc of productCategoryList" [value]="pc.id">
                                {{pc.name}}
                            </mat-option>
                        </mat-select>
                        <mat-icon matPrefix svgIcon="clear_all"></mat-icon>
                    </mat-form-field>
                </div>
            </div>

            <div class="grid grid-cols-12 gap-4 w-full">
                <div class="col-span-4">
                    <mat-form-field class="flex-auto w-full">
                        <input formControlName="price_list" type="number" autocomplete="off" matInput required
                            placeholder="Precio de lista">
                        <mat-icon matPrefix>price_change</mat-icon>
                    </mat-form-field>
                </div>

                <div class="col-span-4">
                    <mat-form-field class="flex-auto w-full">
                        <input formControlName="sale_price" type="number" autocomplete="off" matInput required
                            placeholder="Ubicación">
                        <mat-icon matPrefix>point_of_sale</mat-icon>
                    </mat-form-field>
                </div>

                <div class="col-span-4">
                    <mat-form-field class="flex-auto w-full">
                        <input formControlName="igv" type="number" autocomplete="off" matInput required
                            placeholder="IGV">
                        <mat-icon matPrefix>request_quote</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div
        class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 light:bg-cool-gray-50 dark:bg-cool-gray-700">
        <button type="button" color="primary" mat-stroked-button>
            <mat-icon>close</mat-icon>
            Cancelar
        </button>
        <button [disabled]="formGroup.invalid" mat-stroked-button color="secondary" type="submit" class="px-6 ml-3">
            <mat-icon class="mr-2">save</mat-icon>
            Registrar
        </button>
    </div>
</form>