<div class="content-layout fullwidth-standard-normal-scroll">

    <app-header [module]="'Cocina'" [title]="'Detalle de una'" [highlightext]="'receta'" [urlRoute]="'back'">
    </app-header>

    <div class="main">
        <div class="content" *ngIf="recipe | async as recipe; else loading">
            <detail-recipe-form [recipe]="recipe"> </detail-recipe-form>
            <recipe-supply-list [list]="suppliesSelected"></recipe-supply-list>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-loading-body></app-loading-body>
</ng-template>