<div class="content-layout fullwidth-standard-normal-scroll">

    <app-header [urlRoute]="'/programacion/pagina-inicial'" [module]="model.module" [title]="model.title"></app-header>

    <div class="main">
        <div class="content">
            <app-list-table [list]="programationList" (selectedToDelete)="validationToDeleteProgramation($event)"
                (selectedToEdit)="editar($event)" (selectedToDetail)="detalle($event)">
            </app-list-table>

        </div>
    </div>


</div>