<div class="content-layout fullwidth-standard-normal-scroll scrollingContainer">

    <app-header [urlRoute]="'back'" [module]="'Programación'" [title]="'Editar programación'">
    </app-header>

    <div class="main" *ngIf="cookingSchedule">
        <div class="content">
            <update-cooking-schedule-form [cookingSchedule]="cookingSchedule">
            </update-cooking-schedule-form>

            <div class="mt-5 mb-5 w-full">
                <app-row-buttons *ngIf="buttonsList" [buttons]="buttonsList" [justify]="'justify-end'"
                    (onClick)="applyButtonEvent($event)">
                </app-row-buttons>
            </div>

            <div class="flex flex-col mt-5">
                <app-selected-recipes-table [list]="recipesSelected"></app-selected-recipes-table>
            </div>

        </div>
    </div>

</div>