// -----------------------------------------------------------------------------------------------------
// @ You can use this file to import custom styles.
//
// @ Styles from this file will override anything from 'vendors.scss' file allowing customizations and
//  modifications of third party libraries.
// -----------------------------------------------------------------------------------------------------

@import '~ngx-toastr/toastr';

.row-image {
    margin: 15px 0;
    width: 50px;
    border-radius: 10px;
}

.td-120 {
    width: 120px;
}


td {
    font-size:  12px;
}
// .th-max {
//     max-width: 150px;
// }