<table mat-table [dataSource]="dataSource" matSort class="w-full">

    <ng-container [matColumnDef]="displayedColumns[0]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Código </th>
        <td mat-cell *matCellDef="let element">
            <app-label [text]="element.code"></app-label>
        </td>
    </ng-container>

    <ng-container [matColumnDef]="displayedColumns[1]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor </th>
        <td mat-cell *matCellDef="let element"> {{element.provider.legalName}} </td>
    </ng-container>

    <ng-container [matColumnDef]="displayedColumns[2]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sede</th>
        <td mat-cell *matCellDef="let element"> {{element.headquarter.name}} </td>
    </ng-container>

    <ng-container [matColumnDef]="displayedColumns[3]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado </th>
        <td mat-cell *matCellDef="let element"> {{ element.status.name }} </td>
    </ng-container>

    <ng-container [matColumnDef]="displayedColumns[4]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'mediumDate'}} </td>
    </ng-container>

    <ng-container [matColumnDef]="displayedColumns[5]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Opciones </th>
        <td class="th-max" mat-cell *matCellDef="let element">

            <button title="Eliminar {{ element.name }}" type="button" color="warn" mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>

            <button (click)="navigateToDetail(element.code)" title="Detalle {{ element.name }}" type="button"
                mat-icon-button>
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator #matPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"> </mat-paginator>