<h1 class="title">Programación</h1>

<!-- Calendars -->
<div class="calendars">

    <div class="header">
        <span class="title">Sedes</span>
    </div>

    <div class="calendar" *ngFor="let calendar of calendars">

        <div class="toggle" (click)="toggleCalendarVisibility(calendar)">

            <mat-icon class="visibility" [ngClass]="'text-' + calendar.color"
                [svgIcon]="calendar.visible ? 'check_box' : 'check_box_outline_blank'"></mat-icon>

            <span class="title">
                {{calendar.title}}
            </span>

        </div>

    </div>

</div>