<mat-nav-list class="p-3">
  <div
    (click)="optionRedirect('kardex')"
    class="flex flex-row justify-between h-15 my-3 cursor-pointer"
  >
    <div class="flex flex-col">
      <span class="text-indigo-900 text-xl"> Kardex </span>
      <span class="text-indigo-900 text-sm"
        >Ver historial de entradas y salidas de producto</span
      >
    </div>
    <mat-icon>arrow_forward_ios</mat-icon>
  </div>
  <mat-divider></mat-divider>

  <div (click)="optionRedirect('input')" class="flex flex-row justify-between h-15 my-3 cursor-pointer">
        <div class="flex flex-col">
            <span class="text-indigo-900 text-xl"> Ingresar </span>
            <span class="text-indigo-900 text-sm">Registrar ingreso de este producto</span>
        </div>
        <mat-icon>arrow_forward_ios</mat-icon>
  </div>
  <mat-divider></mat-divider>

  <div
    (click)="optionRedirect('output')"
    class="flex flex-row justify-between h-15 my-3 cursor-pointer"
  >
    <div class="flex flex-col">
      <span class="text-indigo-900 text-xl"> Registrar salida </span>
      <span class="text-indigo-900 text-sm"
        >Registrar salida de este producto</span
      >
    </div>
    <mat-icon>arrow_forward_ios</mat-icon>
  </div>
  <mat-divider></mat-divider>
</mat-nav-list>
