<div class="flex flex-auto w-full xl:w-1/3 min-w-80 mt-3">
    <div class="flex flex-col flex-auto p-6 bg-card rounded shadow">
        <div class="flex items-center">
            <div class="flex flex-col">
                <div class="font-bold text-md text-secondary uppercase tracking-wider">Resumen</div>
            </div>
        </div>

        <div class="flex flex-col">
            <div class="flex items-center my-4">
                <div class="flex items-center justify-center w-14 h-14 rounded bg-red-100 text-red-800">
                    <mat-icon role="img" class="mat-icon notranslate text-current mat-icon-no-color" aria-hidden="true"
                        data-mat-icon-type="svg" data-mat-icon-name="credit-card"
                        data-mat-icon-namespace="heroicons_outline"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" fit="" height="100%" width="100%"
                            preserveAspectRatio="xMidYMid meet" focusable="false">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z">
                            </path>
                        </svg>
                    </mat-icon>
                </div>
                <div class="flex-auto ml-4 leading-none">
                    <div class="font-semibold text-xs text-hint uppercase tracking-wider">SubTotal</div>
                    <div class="mt-2 font-medium text-2xl"> S/. {{ purchaseOrder.subTotal | currency: 'display': '' }}
                    </div>
                    <mat-progress-bar role="progressbar" aria-valuemin="0" aria-valuemax="100"
                        class="mat-progress-bar mt-3 rounded-full mat-warn" aria-valuenow="58.8167" mode="determinate">
                    </mat-progress-bar>
                </div>

            </div>
            <div class="flex items-center my-4">
                <div class="flex items-center justify-center w-14 h-14 rounded bg-indigo-100 text-indigo-800">
                    <mat-icon role="img" class="mat-icon notranslate text-current mat-icon-no-color" aria-hidden="true"
                        data-mat-icon-type="svg" data-mat-icon-name="cash" data-mat-icon-namespace="heroicons_outline">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z">
                            </path>
                        </svg>
                    </mat-icon>
                </div>
                <div class="flex-auto ml-4 leading-none">
                    <div class="font-semibold text-xs text-hint uppercase tracking-wider">IGV</div>
                    <div class="mt-2 font-medium text-2xl">S/. {{ purchaseOrder.igv | currency: 'display': '' }}</div>
                    <mat-progress-bar role="progressbar" aria-valuemin="0" aria-valuemax="100"
                        class="mat-progress-bar mt-3 rounded-full mat-primary" aria-valuenow="4.389648"
                        mode="determinate">
                    </mat-progress-bar>
                </div>

            </div>
            <div class="flex items-center my-4">
                <div class="flex items-center justify-center w-14 h-14 rounded bg-teal-100 text-teal-800">
                    <mat-icon role="img" class="mat-icon notranslate text-current mat-icon-no-color" aria-hidden="true"
                        data-mat-icon-type="svg" data-mat-icon-name="light-bulb"
                        data-mat-icon-namespace="heroicons_outline"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" fit="" height="100%" width="100%"
                            preserveAspectRatio="xMidYMid meet" focusable="false">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z">
                            </path>
                        </svg></mat-icon>
                </div>
                <div class="flex-auto ml-4 leading-none">
                    <div class="font-semibold text-xs text-hint uppercase tracking-wider">Total</div>
                    <div class="mt-2 font-medium text-2xl"> S/. {{ purchaseOrder.total | currency: 'display': '' }}
                    </div>
                    <mat-progress-bar role="progressbar" aria-valuemin="0" aria-valuemax="100"
                        class="mat-progress-bar mt-3 rounded-full mat-primary" aria-valuenow="100" mode="determinate">

                    </mat-progress-bar>
                </div>

            </div>

        </div>

    </div>
</div>