
<h1>Seleccionar rango de fechas </h1>

<!-- <form [formGroup]="selectForm" (ngSubmit)="formValidation()" -->
    <!-- class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden"> -->

    <div class="flex">
        <mat-form-field class="flex-auto" appearance="fill">
            <!-- <mat-label>Enter a date range</mat-label> -->
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Fecha Inical" disabled>
                <input matEndDate formControlName="end" placeholder="Fecha Final" disabled>
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
        </mat-form-field>
    </div>
    <div class="flex items-center justify-end border-t -mx-3 mt-5 px-6 py-2 light:bg-cool-gray-50 dark:bg-cool-gray-700">
        <button type="button" (click)="onNoSearch(false)" color="primary" mat-stroked-button>
            <mat-icon>close</mat-icon>
            Cancelar
        </button>
        <button type="submit" (click)="onNoSearch(true)" class="px-6 ml-3" mat-flat-button [color]="'primary'">
            <mat-icon class="mr-2">search</mat-icon>
            Consultar
        </button>
    </div>
<!-- </form> -->
