<div class="content-layout fullwidth-standard-normal-scroll">

    <app-header [module]="'Mantenimiento'" [title]="'Administrar usuarios'"></app-header>

    <div class="main">
        <div *ngIf="requestUsersList | async; else loading" class="content">

            <div class="mb-5">
                <app-row-buttons *ngIf="registerButton" [buttons]="registerButton" [justify]="'justify-end'"
                    (onClick)="register($event)">
                </app-row-buttons>
            </div>

            <app-search-box [placeHolder]="'Ingrese nombre del usuario'" (param)="filterByName($event)"></app-search-box>

            <app-user-table *ngIf="usersList" (selectedToDelete)="validationToDeleteUser($event)"
                (selectedToEdit)="editar($event)" [list]="usersFilteredList">
            </app-user-table>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-loading-body></app-loading-body>
</ng-template>