<form [formGroup]="recipeForm" class="flex flex-col mt-4 px-8 pt-10 pb-10 bg-card shadow rounded overflow-hidden">

    <div class="grid grid-cols-7 gap-4 w-full">
        <div class="col-span-2">
            <span>
                <strong>
                    Código:
                </strong>
                {{ recipeForm.code }}
            </span>
            <span>
                <strong>
                    Nombre:
                </strong>
                {{ recipeForm.name }}
            </span>
        </div>
    </div>

    <div class="grid">
        <div class="w-full">
            <span>
                <strong>
                    Desccripción:
                </strong>
                {{ recipeForm.description }}
            </span>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-4 w-full">
        <div class="col-span-1">
            <span>
                <strong>
                    Costo:
                </strong>
                $ {{ recipeForm.cost }}
            </span>
        </div>

        <div class="col-span-1">
            <span>
                <strong>
                    Costo:
                </strong>
                $ {{ recipeForm.price }}
            </span>
        </div>
    </div>

    <span>
        <strong>
            Sede:
        </strong>
        {{ recipeForm.headquarter.name }}
    </span>

    <div class="grid grid-cols-2 gap-4 w-full">
        <div class="col-span-1">
            <span>
                <strong>
                    Curso:
                </strong>
                {{ recipeForm.course.name }}
            </span>
        </div>
        <div class="col-span-1">
            <span>
                <strong>
                    Ciclo:
                </strong>
                {{ recipeForm.term.name }}
            </span>
        </div>
    </div>
</form>