<h1>Registrar nuevo <span class="text-primary"> usuario </span> en sistema</h1>

<form
  [formGroup]="registerForm"
  (ngSubmit)="formValidation()"
  class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden"
>
  <div class="flex">
    <mat-form-field class="flex-auto gt-xs:pr-3">
      <input
        formControlName="fullname"
        type="text"
        autocomplete="off"
        matInput
        required
        placeholder="Nombre"
      />
      <mat-icon matPrefix>account_box</mat-icon>
    </mat-form-field>
  </div>

  <div class="flex">
    <mat-form-field class="flex-auto gt-xs:pr-3">
      <input
        formControlName="email"
        type="text"
        autocomplete="off"
        matInput
        required
        placeholder="Email"
      />
      <mat-icon matPrefix>alternate_email</mat-icon>
    </mat-form-field>
  </div>

  <div class="flex">
    <mat-form-field class="flex-auto gt-xs:pr-3">
      <input
        formControlName="password"
        type="password"
        autocomplete="off"
        matInput
        required
        placeholder="Contraseña"
      />
      <mat-icon matPrefix>lock</mat-icon>
    </mat-form-field>
  </div>

  <h2>Datos de contacto</h2>

  <div class="flex">
    <mat-form-field class="flex-auto gt-xs:pr-3" formGroupName="contact">
      <input
        formControlName="email"
        type="text"
        autocomplete="off"
        matInput
        required
        placeholder="Email"
      />
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>
  </div>

  <div class="flex">
    <mat-form-field class="flex-auto gt-xs:pr-3" formGroupName="contact">
      <input
        formControlName="phone"
        type="text"
        autocomplete="off"
        matInput
        required
        placeholder="Telefono"
      />
      <mat-icon matPrefix>call</mat-icon>
    </mat-form-field>
  </div>

  <div class="flex">
    <mat-form-field class="flex-auto gt-xs:pr-3" formGroupName="contact">
      <input
        formControlName="address"
        type="text"
        autocomplete="off"
        matInput
        required
        placeholder="Direccion"
      />
      <mat-icon matPrefix>home</mat-icon>
    </mat-form-field>
  </div>

  <div class="flex">
    <mat-form-field class="flex-auto gt-xs:pr-3" formGroupName="contact">
      <input
        formControlName="district"
        type="text"
        autocomplete="off"
        matInput
        required
        placeholder="Distrito"
      />
      <mat-icon matPrefix>room</mat-icon>
    </mat-form-field>
  </div>

  <div class="flex">
    <mat-form-field class="flex-auto gt-xs:pr-3" formGroupName="contact">
      <input
        formControlName="province"
        type="text"
        autocomplete="off"
        matInput
        required
        placeholder="Provincia"
      />
      <mat-icon matPrefix>sticky_note_2</mat-icon>
    </mat-form-field>
  </div>

  <div class="flex">
    <mat-form-field class="flex-auto gt-xs:pr-3" formGroupName="contact">
      <input
        formControlName="departament"
        type="text"
        autocomplete="off"
        matInput
        required
        placeholder="Departamento"
      />
      <mat-icon matPrefix>map</mat-icon>
    </mat-form-field>
  </div>

  <div class="flex">
    <mat-form-field class="flex-auto gt-xs:pr-3" formGroupName="contact">
      <mat-select
        placeholder="Seleccione un tipo de documento"
        formControlName="documentTypeId"
        required
      >
        <mat-option
          *ngFor="let dt of requestDocumentTypeList | async"
          [value]="dt.id"
        >
          {{ dt.name }}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix svgIcon="clear_all"></mat-icon>
    </mat-form-field>
  </div>

  <div class="flex">
    <mat-form-field class="flex-auto gt-xs:pr-3" formGroupName="contact">
      <input
        formControlName="document"
        type="text"
        autocomplete="off"
        matInput
        required
        placeholder="Documento"
      />
      <mat-icon matPrefix>contacts</mat-icon>
    </mat-form-field>
  </div>

  <div
    class="
      flex
      items-center
      justify-end
      border-t
      -mx-8
      mt-8
      px-8
      py-5
      light:bg-cool-gray-50
      dark:bg-cool-gray-700
    "
  >
    <button
      type="button"
      (click)="onNoCreate()"
      color="primary"
      mat-stroked-button
    >
      <mat-icon>close</mat-icon>
      Cancelar
    </button>
    <button
      [disabled]="registerForm.invalid"
      type="submit"
      class="px-6 ml-3"
      mat-flat-button
      [color]="'primary'"
    >
      <mat-icon class="mr-2">save</mat-icon>
      Registrar
    </button>
  </div>
</form>
