<div class="content-layout fullwidth-standard-normal-scroll">

    <app-header urlRoute="back" module="Hojas de demanda" title="Detalle de hoja de demanda"></app-header>

    <div class="main">
        <div class="content" *ngIf="request | async as data;  else loading">
            <demand_sheets-detail-action-buttons [demandSheet]="data" ></demand_sheets-detail-action-buttons>
            <demand-sheets-detail-info [demandSheet]="data"></demand-sheets-detail-info>
            <demand_sheets-detail-item_list [demandSheet]="data"></demand_sheets-detail-item_list>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-loading-body message="Consultando detalle..."></app-loading-body>
</ng-template>