<div class="content-layout fullwidth-standard-normal-scroll">

    <app-header [module]="model.module" [title]="model.title"></app-header>

    <div class="main">
        <div class="content">
            <div class="mb-5" >
                <app-row-buttons class="mb-5" [buttons]="registerButton" [justify]="'justify-end'" (onClick)="register()">
                </app-row-buttons>
            </div>
            <app-list-table [model]="tableModel" [list]="headquarterList"
                (selectedToDelete)="validationToDeleteHeadquarter($event)" (selectedToEdit)="editar($event)">
            </app-list-table>

        </div>
    </div>


</div>