<h1>Registrar nuevo <span class="text-green-600"> rol </span> en sistema </h1>

<form [formGroup]="registerForm" (ngSubmit)="formValidation()"
    class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden">

    <div class="flex">
        <mat-form-field class="flex-auto">
            <input formControlName="code" type="text" autocomplete="off" matInput required placeholder="Código">
            <mat-icon matPrefix svgIcon="account_circle"></mat-icon>
        </mat-form-field>
    </div>

    <div class="flex">
        <mat-form-field class="flex-auto">
            <input formControlName="description" type="text" autocomplete="off" matInput required placeholder="Código">
            <mat-icon matPrefix svgIcon="account_circle"></mat-icon>
        </mat-form-field>
    </div>

    <div
        class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 light:bg-cool-gray-50 dark:bg-cool-gray-700">
        <button type="button" (click)="onNoCreate()" color="primary" mat-stroked-button>
            <mat-icon>close</mat-icon>
            Cancelar
        </button>
        <button type="submit" class="px-6 ml-3" mat-flat-button [color]="'primary'">
            <mat-icon class="mr-2">save</mat-icon>
            Registrar
        </button>
    </div>
</form>