<div class="content-layout fullwidth-standard-normal-scroll scrollingContainer">

    <app-header [urlRoute]="'/programacion/pagina-inicial'" [module]="'Programación'"
        [title]="'Registrar programación'">
    </app-header>

    <div class="main">
        <div class="content">

            <form [formGroup]="cookingScheduleForm"
                class="flex flex-col mt-4 px-8 pt-10 pb-10 bg-card shadow rounded overflow-hidden">

                <div class="grid grid-cols-7 gap-4 w-full">

                    <div class="col-span-5">
                        <mat-form-field class="w-full">
                            <input formControlName="note" type="text" autocomplete="off" matInput required
                                placeholder="Nota, referencia o nombre">
                            <mat-icon matPrefix>sticky_note_2</mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="col-span-2">
                        <mat-form-field class="w-full">
                            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Seleccionar una fecha"
                                formControlName="date">
                            <mat-datepicker-toggle matSuffix [for]="picker">
                            </mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
                                [stepMinute]="10" [touchUi]="true">
                            </ngx-mat-datetime-picker>
                        </mat-form-field>
                    </div>


                </div>

                <div class="grid ">
                    <div class="w-full">
                        <mat-form-field class="treo-mat-textarea w-full">
                            <textarea formControlName="description" matInput [placeholder]="'Descripción'"
                                [rows]="3"></textarea>
                            <mat-icon matPrefix>notes</mat-icon>
                        </mat-form-field>
                    </div>
                </div>

                <div class="grid  grid-cols-8 gap-4 w-full">

                    <div class="col-span-4">
                        <mat-form-field class="w-full">
                            <mat-select placeholder="Seleccione una sede" formControlName="headquarter_id" required>
                                <mat-option *ngFor="let s of headquarterList" [value]="s.id">
                                    {{s.name}}
                                </mat-option>
                            </mat-select>
                            <mat-icon matPrefix svgIcon="clear_all"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="col-span-4">
                        <mat-form-field class="w-full">
                            <mat-select placeholder="Seleccione un ciclo" formControlName="term_id" required>
                                <mat-option *ngFor="let t of termList" [value]="t.id">
                                    {{t.name}}
                                </mat-option>
                            </mat-select>
                            <mat-icon matPrefix svgIcon="clear_all"></mat-icon>
                        </mat-form-field>
                    </div>
                </div>

                <div class="grid">
                    <mat-form-field class="w-full">
                        <mat-select (valueChange)="setClass($event)" placeholder="Seleccione las clases pertinentes"
                            formControlName="classes">
                            <mat-option *ngFor="let c of classList" [value]="c">
                                {{c.name}}
                            </mat-option>
                        </mat-select>
                        <mat-icon matPrefix svgIcon="clear_all"></mat-icon>
                    </mat-form-field>
                </div>

                <div *ngIf="classesSelected && classesSelected.length > 0" class="flex mb-5">
                    <button class="mr-2" type="button" *ngFor="let c of classesSelected; let i =index"
                        (click)="deleteClass(i)" mat-stroked-button color="primary">
                        {{ c.name }}
                        <mat-icon class="ml-52">close</mat-icon>
                    </button>
                </div>

                <div class="grid ">
                    <mat-form-field class="w-full">
                        <mat-select (valueChange)="setCourses($event)"
                            placeholder="Selecciones los cursos a los que pertenece" formControlName="courses">
                            <mat-option *ngFor="let c of courseList" [value]="c">
                                {{c.name}}
                            </mat-option>
                        </mat-select>
                        <mat-icon matPrefix svgIcon="clear_all"></mat-icon>
                    </mat-form-field>
                </div>

                <div *ngIf="coursesSelected && coursesSelected.length > 0" class="flex mb-5">
                    <button class="mr-2" type="button" *ngFor="let c of coursesSelected; let i =index"
                        (click)="deleteCourse(i)" mat-stroked-button color="primary">
                        {{ c.name }}
                        <mat-icon class="ml-52">close</mat-icon>
                    </button>
                </div>
            </form>

            <div class="mt-5 mb-5 w-full">
                <app-row-buttons *ngIf="buttonsList" [buttons]="buttonsList" [justify]="'justify-end'"
                    (onClick)="applyButtonEvent($event)">
                </app-row-buttons>
            </div>


            <div class="flex flex-col mt-5">
                <app-selected-recipes-table [list]="recipesSelected"></app-selected-recipes-table>
            </div>

        </div>
    </div>
</div>