<table *ngIf="list && list.length > 0" mat-table [dataSource]="dataSource" matSort class="w-full">

    <ng-container [matColumnDef]="displayedColumns[0]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagenn </th>
        <td class="td-120" mat-cell *matCellDef="let element">
            <img class="row-image" src="assets/images/dgalia/logo/logo-orange.jpg" alt="image">
        </td>
    </ng-container>

    <ng-container [matColumnDef]="displayedColumns[1]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
        <td class="th-max" mat-cell *matCellDef="let element">
            <span
                class="text-xs font-semibold inline-block py-1 px-2 rounded text-teal-600 bg-teal-200  last:mr-0 mr-1">
                {{ element.code }}
            </span>
        </td>
    </ng-container>

    <ng-container [matColumnDef]="displayedColumns[2]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container [matColumnDef]="displayedColumns[3]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad platos</th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field class="flex-auto gt-xs:pr-3">
                <input  [(ngModel)]="element.quantity" type="number" autocomplete="off" matInput required
                    placeholder="Cantidad" min="1">
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container [matColumnDef]="displayedColumns[4]">
        <th  mat-header-cell *matHeaderCellDef mat-sort-header>Eliminar</th>
        <td  mat-cell *matCellDef="let element">
            <button  (click)="removeFromList(element)" mat-stroked-button color="primary">
                <mat-icon class="mr-2">close</mat-icon>
            </button>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>