<div class="content-layout fullwidth-standard-normal-scroll">

    <app-header module="Logistica" title="Programaciones"></app-header>

    <div class="main">
        <div class="content" *ngIf="request  | async as cookingScheduleList; else loading">
            <departures-list [cookingScheduleList]="cookingScheduleList" (selectedToRegister)="validationToRegisterMerchandise($event)">
            </departures-list>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-loading-body></app-loading-body>
</ng-template>
