<div class="content-layout fullwidth-standard-normal-scroll">

    <app-header urlRoute="back" module="Cocina" title="Detalle de programación"></app-header>

    <div class="main" *ngIf="request | async as data; else loading">
        <div class="content">
            <app-cooking-schedule-detail [cookingSchedule]="data" ></app-cooking-schedule-detail>
            <cooking_schedule-detail-recipe_list [recipeList]="data.recipes" ></cooking_schedule-detail-recipe_list>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-loading-body></app-loading-body>
</ng-template>