<table *ngIf="list && list.length > 0" mat-table [dataSource]="dataSource" matSort class="w-full">

    <ng-container [matColumnDef]="displayedColumns[0]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let element">
            {{element.startDate | date: 'shortDate' }}
            -
            {{ element.endDate | date: 'shortDate'}}
        </td>
    </ng-container>

    <ng-container [matColumnDef]="displayedColumns[1]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sede </th>
        <td mat-cell *matCellDef="let element"> {{element.headquarter.name}} </td>
    </ng-container>

    <ng-container [matColumnDef]="displayedColumns[2]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{ element.description }}</td>
    </ng-container>

    <ng-container [matColumnDef]="displayedColumns[3]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>
        <td mat-cell *matCellDef="let element">
            <button (click)="selectedToEdit.emit(element)" title="Editar {{ element.description }}" type="button"
                color="green" mat-icon-button>
                <mat-icon [color]="'green'">create</mat-icon>
            </button>

            <button (click)="selectedToDetail.emit(element)" title="Detalle de {{ element.description }}" type="button"
                color="green" mat-icon-button>
                <mat-icon [color]="'green'">subject</mat-icon>
            </button>

            <button (click)="selectedToDelete.emit(element)" title="Eliminar {{ element.description }}" type="button"
                color="warn" mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator #matPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"> </mat-paginator>