<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="main">
        <div class="content" *ngIf="requestData | async; else loading">
            <app-title title="Formulario de registro para Productos"
                subtitle="Rellena todos los campos para completar el registro, también podrás asignar un insumo"
                backButton="true">
            </app-title>

            <product-register-form (registerForm)="listenForm($event)" [measureUnitList]="measureUnitList"
                [productCategoryList]="productCategoryList">
            </product-register-form>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-loading-body></app-loading-body>
</ng-template>